.swiper {
    padding: 10px 0;
    background-color: #f9f6f3;
    border-radius: 3px;
    box-shadow: inset 0rem 1rem .5rem var(--black-light-shadow),
        inset 0rem -1rem .5rem var(--black-light-shadow);
}

.popular {
    background-color: #f9f6f3;
    border-radius: 3px;
    padding: 0;
}

.title {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    padding: 2rem 0;
    margin: 0;
}