.wrapper {
    background-color: #58595B;
    color: #D1D3D4;
    display: flex;
    justify-content: flex-end;
    border-radius: 1.75rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.044);
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0, -50%);
    transition: all .2s ease;

    .child {
        scale: 0;
        width: 0;
        height: 0;
        visibility: hidden;
        display: flex;
        align-items: center;
        transition:
            scale .1s,
            width .2s .1s,
            height .2s .1s,
            visibility .2s .2s,
    }
}

.open {

    .child {
        width: 60rem;
        visibility: visible;
        scale: 1;
        height: 3.5rem;
        transition:
            width .2s,
            height .2s,
            visibility .2s,
            scale .2s .3s;
    }
}