:root {
  /* colors */

  --text-color-link: #d1d3d4;
  --text-color-light: #eee;
  --text-color-label: #999;
  --text-color-secondary: #666;
  --text-color-primary: #333;

  --bg-header: rgb(251, 244, 235);
  --bg-color: #f8f8f8;

  --modile-menu-bg: #58595bd7;

  --button-bg: #ecb600;
  --button-color: #58595b;
  --button-bg-active: #58595b;
  --button-color-active: #f37021;

  --black-light-shadow: rgba(0, 0, 0, 0.05);
  --black-medium-shadow: rgba(0, 0, 0, 0.25);
  --black-dark-shadow: rgba(0, 0, 0, 0.5);

  --white-light-shadow: rgba(255, 255, 255, 0.05);
  --white-medium-shadow: rgba(255, 255, 255, 0.25);
  --white-dark-shadow: rgba(255, 255, 255, 0.5);

  --tabs-bg: #f9f6f3;
  --tabs-border: rgba(250, 235, 215, 1);
  --tabs-active: #f37021;
  --tabs-border-hover: #f3722183;

  --card-bg: rgba(250, 235, 215, 0.582);
  --card-bg-hover: rgba(250, 235, 215, 0.6);
  --card-bg-active: rgba(250, 235, 215, 0.979);

  --error: rgb(213, 7, 7);
}
