.search-block {
    display: flex;
    justify-content: center;
    margin: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    height: 3.5rem;
    color: var(--text-color-link);
}

.search-block-input {
    line-height: 100%;
    font-size: 1.6rem;
    width: 50.5rem;
    border-radius: 1.75rem;
    padding-left: 2rem;
    outline: none;
    border: 1px solid rgba(250, 235, 215, 1);
    transition: all .5s ease;

}

.search-block-input:focus {
    box-shadow: 0 0 0 2px var(--button-bg);
}

.search-block-input::placeholder {
    font-size: 1.6rem;
}

.search-block-input::-webkit-search-cancel-button {
    margin-right: 1rem;
    font-size: 2rem;
    display: none;
}

.search-btn-find {
    width: 9rem;
    text-align: center;
    line-height: 3.6rem;
    font-size: 1.6rem;
    color: var(--text-color-link);
    background-color: transparent;
    border: none;
    outline: none;
    display: flex;

    &:hover span {
        color: #fff;
    }

    &:focus {
        outline: 2px solid var(--button-bg);
    }
}

.search-span {
    padding: 0 .3rem;
    color: var(--text-color-light);
}

.search-varinats {
    z-index: 100;
    position: absolute;
    font-size: 1.6rem;

    top: 3.6rem;
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid var(--black-medium-shadow);
    border-radius: 3px;
}

.search-varinats-item {

    border-bottom: 1px solid var(--black-medium-shadow);
    transition: all .4s;
}

.search-varinats-item:last-child {
    border-bottom: none;
}


.search-varinats-item--link {
    padding: .5rem 2rem;
    color: var(--text-color-primary);
    width: 100%;
    display: block;

    &:hover,
    &:focus {
        background-color: var(--button-color-active);
        outline: none;
    }
}


@media (max-width:800px) {
    .search-block {
        width: 100%;
        height: auto;
        height: 6rem;
        border-radius: 3rem;
        padding: 0;
        margin: 0;
        justify-content: flex-start;
    }

    .search-block-input {
        width: auto;
        width: 96%;
        margin: 0 auto;
        height: 6rem;
        border-radius: 3rem;

    }

    .search-btn-find {
        width: 0%;
    }

    .search-span:first-child {
        display: none;
    }

    .search-span:last-child {
        position: absolute;
        right: 2.3rem;
        font-size: 3rem;
        line-height: 6rem;
        color: var(--button-color-active)
    }

    .search-varinats {
        top: 6.5rem;
        left: 50%;
        transform: translateX(-50%);
        width: 95%;
    }

    .search-varinats-item--link {
        padding: 1.5rem 0.7rem;
    }

}